<div class="px-4">
  <h3 class="pb-1" i18n>Recover password</h3>
  <p class="pb-3" i18n>Enter your email address</p>
  <form class="d-flex flex-column" [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field class="pb-3" hintLabel="Max 40 characters" i18n-hintLabel>
      <mat-label i18n>Enter your email</mat-label>
      <input
        maxlength="40"
        matInput
        placeholder="your_email@email.com"
        formControlName="email"
        required
        test-id="input-email"
        i18n-placeholder
      />
      <mat-hint align="end"
        >{{ form.controls.email.value?.length }}/40</mat-hint
      >
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      *ngIf="this.loading$ | async; else resetButton"
      disabled
      test-id="button-loading"
    >
      <mat-spinner diameter="20"></mat-spinner>
    </button>

    <ng-template #resetButton>
      <button
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
        test-id="button-reset"
        i18n
      >
        Reset
      </button>
    </ng-template>
  </form>
  <div class="d-flex justify-content-center pt-4">
    <a routerLink="/auth/signin" i18n>Log in here</a>
  </div>
</div>
